TWILIO_ACCOUNT_SID=ACxxx
TWILIO_API_KEY=SKxxx
TWILIO_API_SECRET=xxx
TWILIO_CALLER_NUMBER=+1555CALLER
TARGET_PHONE_NUMBER=+1555VOCALINE
DEEPGRAM_API_KEY=xxx
ELEVENLABS_API_KEY=xxx
ELEVENLABS_VOICE_ID=xxx
DEEPSEEK_API_KEY=sk-xxx
WEBHOOK_BASE_URL=https://REPLACE.ngrok.io
USE_NGROK=true
APP_PORT=8001
